.container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.boxText {
  width: 45%;
  margin-right: 5%;
}

.boxImage {
  height: 21.25rem;
  width: 29.2175rem;
}

.title {
  color: #04c8a7;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.8281rem;
}

.subtitle {
  color: #ffffff;
  font-family: 'Overpass';
  font-style: normal;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2.2156rem;
  padding-top: 1.5rem;
}
