.btn {
  color: #94c8fd;
  font-family: 'Space Grotesk', 'sans serif';
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  border: 0.0625rem solid #94c8fd;
  border-radius: 0.75rem;
  padding: 0.875rem 2.5rem;
}

.text {
  margin-left: 1.125rem;
}
