.hamburguer {
  --transition-type: ease-in;
  width: 1.5rem;
  height: 1em;
  margin: 1em auto;
  z-index: 100;
  cursor: pointer;
}

.lines {
  width: 100%;
  height: 2px;
  transition: all 450ms var(--transition-type);
}

.close-hamburguer>.lines {
  cursor: pointer;
}

.close-hamburguer>.line-top {
  transform: translateY(200%) rotate(45deg);
  padding-top: 17.75%;
}

.close-hamburguer>.line-mid {
  opacity: 0;
}

.close-hamburguer>.line-bottom {
  transform: translateY(-200%) rotate(-45deg);
  padding-top: 17.75%;
}